<div class="container">
	<div class="row">
		<div class="span12">
			<p><%= image_tag("header_image_18.jpg") %></p>
		</div>
	</div>
</div>

<div class="row">
	<div class="span12">
		<h3>Eye Clinic</h3>
	</div>
</div>

<div class="row">
	<div class="span8">
		<p>During her first visit to Jambiani in 2003, the founder noticed that not one person in a village of 7,000 people was wearing glasses. Knowing this could not be an indication of a village of perfect vision, she made inquiries and discovered no one had access to vision care. In collaboration with the Third World Eye Care Society, the dream of an eye clinic in Jambiani became a reality within 3 years.</p>

		<p>In November 2006, Kristi travelled to the village with 16 eye care professionals (eye doctors and opticians), and a 10-day eye clinic was held. With invaluable support and space provided by Pat Elias and Alastair Pirie, of Hands Across Borders Society, a seven-station eye clinic was created; complete with local volunteers providing Swahili-English interpretation. Each day, over 400 patients were examined including all pre-school and school-aged children. Each person needing prescription or reading glasses received a new pair of glasses and in some cases, two pairs of glasses.</p>

		<h4><strong><center>10 day eye clinic. 4,750 patients. 2,000 pairs of glasses dispensed.</center></strong></h4>
	</div>
	<div class="span2">
		<%= link_to image_tag("eye_4.jpg", class: "img-rounded"), asset_path("eye_4.jpg"), class: "fancybox-button", rel: "fancybox-button", title: "" %>

	</div>
	<div class="span2">
		<%= link_to image_tag("eye_5.jpg", class: "img-rounded"), asset_path("eye_5.jpg"), class: "fancybox-button", rel: "fancybox-button", title: "" %>
	</div>
	<div class="span2">
		<br>
		<%= link_to image_tag("eye_6.jpg", class: "img-rounded"), asset_path("eye_6.jpg"), class: "fancybox-button", rel: "fancybox-button", title: "" %>
	</div>
	<div class="span2">
		<br>
		<%= link_to image_tag("eye_4.jpg", class: "img-rounded"), asset_path("eye_4.jpg"), class: "fancybox-button", rel: "fancybox-button", title: "" %>
	</div>
</div>
