<div class="container">
	<div class="row">
		<div class="span12">
			<p><%= image_tag("header_image_19.jpg") %></p>
		</div>
	</div>
</div>

<div class="row">
	<div class="span12">
		<h3>Sponsors</h3>
	</div>
</div>

<div class="row">
	<div class="span12">
		<h2><center>Gold</center></h2>
	</div>
</div>
<br>
<div class="row">
	<div class="span4">
		<p><%= link_to(image_tag("Investors_Group.jpg"), "http://www.investorsgroup.com/en/default.aspx", :target => "_blank") %></p>
	</div>
	<div class="span4">
		<p><%= link_to(image_tag("Thrifty_Foods.jpg"), "http://www.thriftyfoods.com/", :target => "_blank") %></p>
	</div>
	<div class="span4">
		<p><%= link_to(image_tag("Gala_Van.jpg"), "http://www.gala-van.com/", :target => "_blank") %></p>
	</div>
</div>
<br>
<div class="row">
	<div class="span12">
		<h2><center>Silver</center></h2>
	</div>
</div>
<br>
<div class="row">
	<div class="span4">
		<h4 class="silver-text"><%= link_to ("Island Tent and Events"), "http://www.islandtentsandevents.com/", :target => "_blank" %></h4>
	</div>
	<div class="span4">
		<h4 class="silver-text"><%= link_to ("Coast Environmental"), "http://www.coastenvironmental.ca/", :target => "_blank" %></h4>
	</div>
	<div class="span4">
		<h4 class="silver-text"><%= link_to ("Seaside Designs"), "http://nancyedolan.wordpress.com/", :target => "_blank" %></h4>
	</div>
</div>
<br>
<div class="row">
	<div class="span12">
		<h2><center>Bronze</center></h2>
	</div>
</div>
<br>
<div class="row">
	<div class="span3">
		<h4 class="bronze-text"><%= link_to ("Ocean Promotion"), "http://www.oceanpromotion.com/", :target => "_blank" %></h4>
	</div>
	<div class="span3">
		<h4 class="bronze-text"><%= link_to ("Atwood-Brewka Law"), "#", :target => "_blank" %></h4>
	</div>
	<div class="span3">
		<h4 class="bronze-text"><%= link_to ("Black Press"), "http://par-t-perfect.com/", :target => "_blank" %></h4>
	</div>
	<div class="span3">
		<h4 class="bronze-text"><%= link_to ("Par-T-Perfect - Victoria"), "http://nancyedolan.wordpress.com/", :target => "_blank" %></h4>
	</div>
</div>
<br>
<div class="row">
	<div class="span12">
		<h2><center>Supporters<center></h2>
	</div>
</div>
<br>
<div class="row">
	<div class="span6 supporter">
		<p class="supporter">Aardvark Carpet Cleaning</p>
		<p class="supporter">Alice Lo Law</p>
		<p class="supporter">Baggins Shoes<p>
		<p class="supporter">Blue Nile Restaurant<p>
		<p class="supporter">Braefoot Community Association</p>
		<p class="supporter">Bubby's Kitchen</p>
		<p class="supporter">Café Brio</p>
		<p class="supporter">Caffe Fantastico Quadra Village</p>
		<p class="supporter">Chemainus Theatre</p>
		<p class="supporter">Chin Yuen</p>
		<p class="supporter">Christie's Pub</p>
		<p class="supporter">Dairy Queen – Quadra/McKenzie</p>
		<p class="supporter">Dansko Studios</p>
		<p class="supporter">Deanna Somers</p>
		<p class="supporter">Delta Ocean Point</p>
		<p class="supporter">Eco Chic Salon and Spa</p>
		<p class="supporter">Falcon Gymnastics</p>
		<p class="supporter">5th St Bar and Grill</p>
		<p class="supporter">Fernwood Inn</p>
		<p class="supporter">Floyd's Diner</p>
		<p class="supporter">Flying Otter Grill</p>
		<p class="supporter">Goodfellas Cigar Shop</p>
		<p class="supporter">Great Pacific Adventures</p>
		<p class="supporter">Hakuna Matata Imports</p>
		<p class="supporter">DJ Hinga Gatari</p>
		<p class="supporter">Horticultural Centre of the Pacific</p>
		<p class="supporter">Hoyne Brewery</p>
		<p class="supporter">Island Day Lily Farm</p>
		<p class="supporter">JamTots</p>
		<p class="supporter">Janet's Special Teas Sidney</p>
		<p class="supporter">Jenner Chevrolet</p>
		<p class="supporter">Joelle McCartie, RMT</p>
		<p class="supporter">Keli Harrington</p>
	</div>
<div class="span6">
		<p class="supporter">Lavish Salon<p>
		<p class="supporter">Left Coast Health Massage</p>
		<p class="supporter">Lighthouse Bakery<p>
		<p class="supporter">Lion’s Pride Gymnastics</p>
		<p class="supporter">Lizzy Lee and Me</p>
		<p class="supporter">M. Miles and Associates Ltd.</p>
		<p class="supporter">Marc Koehn</p>
		<p class="supporter">McPherson Theatre</p>
		<p class="supporter">Moka House on Hillside</p>
		<p class="supporter">Noodle Box – Douglas Street</p>
		<p class="supporter">Nicole McSkimming</p>
		<p class="supporter">Ocean River Sports</p>
		<p class="supporter">Peninsula Co-op</p>
		<p class="supporter">Prince of Whales Whale Watching</p>
		<p class="supporter">Quadra Village Butcher Shop</p>
		<p class="supporter">Remax</p>
		<p class="supporter">Rhonda Watson</p>
		<p class="supporter">Saanich Commonwealth Centre</p>
		<p class="supporter">Saanich Fire Department</p>
		<p class="supporter">Saanich Police Department</p>
		<p class="supporter">Sassy’s Family Restaurant</p>
		<p class="supporter">Science Works</p>
		<p class="supporter">Shaw Ocean Discovery Centre</p>
		<p class="supporter">Silk Road Tea</p>
		<p class="supporter">Starbucks – Quadra/McKenzie</p>
		<p class="supporter">Superstore</p>
		<p class="supporter">The Soap Exchange</p>
		<p class="supporter">Tronie Brown</p>
		<p class="supporter">True Detail</p>
		<p class="supporter">Tumblebums</p>
		<p class="supporter">Victoria Butterfly Gardens</p>
		<p class="supporter">Victoria Royals</p>
		<p class="supporter">Victory Barber</p>
	</div>
</div>
